<% if (totalPages > 1) { %>
  <% const queryStr = `search=${query || ''}&sort=${sort || ''}&category=${category || ''}&brand=${brand || ''}&gt=${gt || ''}&lt=${lt || ''}`; %>

  <% if (currentPage > 1) { %>
    <a href="?page=<%= currentPage - 1 %>&<%= queryStr %>">Prev</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="?page=<%= i %>&<%= queryStr %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="?page=<%= currentPage + 1 %>&<%= queryStr %>">Next</a>
  <% } %>
<% } %>
